.contenido{
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: auto;
    margin: auto;
}
.contenido_2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    padding: auto;
}